*{margin: auto;}
.wrapper{
	height: auto;
	width: 1200px;
}
.banner{
	height: 150px;
	width: 100%;
	background-color: #3378EE;
}
.banner .logo{
	height: 150px;
	width: 200px;
	/*background-color: red;*/
	float: left;
}
.navbar{
	margin-top: 3px;
	height: 70px;
	width: 100%;
	background-color: #3378EE;
}
.navbar nav{
	height: 70px;
	width: 400px;
	float: right;
}
.navbar nav .nabr {
	height: 70px;
	width: 100px;
	background-color: lightgreen;
	float:left;
	text-align: center;
	font-size: 20px;
	line-height: 65px;
	color:black;
	text-decoration:none;
}

.dropdown{
	height: 70px;
	width: 100px;
	background-color: lightgreen;
	float:left;
	text-align: center;
	font-size: 20px;
	line-height: 65px;
	color:black;
}
.navbar nav .nabr:hover{
	background-color: darkgreen;

}
.content{
	height: 600px;
	width: 100%;
	background-color: white;
}
.hottopic{
	margin-top: 3px;
	float: left;
	height:600px;
	width:40%;
	background-color: white;
	font-size: 25px;
	text-align: center;
	/*border: 3px solid;*/
}
.subhottopic{
	margin-top:2px;
	float: left;
	height: 198px;
	width: 100%;
	background-color: #3378EE;
}
.subhottopic .lastsubhottopic{
	float: left;
	height: 198px;
	width: 30%;
	background-color: lightgreen;
}
.site{
	margin-left: 3px;
	margin-top: 3px;
	float: left;
	height:600px;
	width: 30%;
	background-color: #3378EE;
	font-size: 20px;

}
.sitetwo{
	margin-top: 3px;
	margin-left: 3px;
	float: left;
	height:600px;
	width:29.5%;
	background-color: #3378EE;
	font-size: 25px;
}
.footer{
	margin-top:5px;
	height: 100px;
	width: 100%;
	background-color: #3378EE;
	text-align: center;
	font-size: 20px;
}
.footer .img{
	border-radius: 5px;
}
.blogcontent{
	width: 100%;
	height: 800px;
	background-color:white;
	margin-top:4px;

}
.blogcontent .subblogcontentone{
	width: 50%;
	height: 800px;
	background-color: #3378EE;
	float: left;
	margin-right: 3.5px;
}
.blogcontent .subcontenttwo{
	width: 49.69%;
	height:24.6%;
	background-color: #3378EE;
	float: left;
	margin-top: 3px;
}

